# Temporary development reference extracted from the user-supplied foley video.
# Keep local while calibrating; replace with an original/licensed final asset before release.
ikigai-clean-reference.ogg
